<!DOCTYPE html>
<html>

<head>
  <style>
    .stoplight-container {
      position: relative;
      width: auto;
      height: 90vh;
      display: flex;
      flex-direction: center;
      justify-content: center;
    }

    .stoplight-container img {
      width: auto;
      height: 100%;
    }

    .light-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 210px;
      /* Adjust as needed */
      height: 210px;
      /* Adjust as needed */
      border-radius: 50%;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    /* Optionally style each button specifically */
    #red-light {
      background-color: rgba(255, 0, 0, 0.5);
      top: 12vh !important;

    }

    #yellow-light {
      background-color: rgba(255, 255, 0, 0.5);
      top: 35.5vh !important;
    }

    #green-light {
      background-color: rgba(0, 255, 0, 0.5);
      top: 59vh !important;
    }

    button {
      transition: box-shadow 0.3s ease-in-out;
      box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
      /* Invisible box-shadow by default */
    }

    .greenglow {
      box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);

    }

    .yellowglow {
      box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
    }

    .redglow {
      box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
    }

    .buttondiv {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .buttondiv a:first-child {
      background-color: rgb(92, 119, 98);
      padding: 10px 40px;
      margin: 10px;
      border-radius: 15px;
      text-decoration: none;
      color: white;
    }

    .buttondiv a {
      background-color: rgb(143, 55, 55);
      padding: 10px 40px;
      margin: 10px;
      border-radius: 15px;
      text-decoration: none;
      color: white;
    }

    .buttondiv a:first-child:hover {
      background-color: rgb(11, 73, 32);
      transition: background-color 1s ease-in-out;
    }

    .buttondiv a:hover {
      background-color: rgb(73, 11, 11);
      transition: background-color 1s ease-in-out;
    }
  </style>
</head>

<body>
  <div class="stoplight-container">
    <img src="images/stoplight.png" alt="Stoplight" />
    <button class="light-button" id="red-light" style="top: 10%;"></button>
    <button class="light-button" id="yellow-light" style="top: 45%;"></button>
    <button class="light-button" id="green-light" style="top: 80%;"></button>
  </div>
  <div class="buttondiv">
    <a href="/startf" id="startbutton">Start</a>
    <a href="/stopf">Stop</a>
  </div>
</body>

<script>
  function addGlowEffect(buttonId) {
    var button = document.getElementById(buttonId);
    console.log(buttonId)
    if (buttonId == 'red-light') {
      button.classList.add('redglow')
      setTimeout(function () {
        button.classList.remove('redglow')
      }, 2000);
    }
    else if (buttonId == 'yellow-light') {
      button.classList.add('yellowglow')
      setTimeout(function () {
        button.classList.remove('yellowglow');
      }, 2000);
    }
    else {
      button.classList.add('greenglow')
      setTimeout(function () {
        button.classList.remove('greenglow');
      }, 2000);
    }
    // Remove the glow effect after 1 second
  }

  document.getElementById('red-light').addEventListener('click', function () {
    window.location.href = '/red';
    addGlowEffect('red-light');
  });

  document.getElementById('yellow-light').addEventListener('click', function () {
    window.location.href = '/yellow';
    addGlowEffect('yellow-light');
  });

  document.getElementById('green-light').addEventListener('click', function () {
    window.location.href = '/green';
    addGlowEffect('green-light');
  });


</script>

</html>